body {
    background-color: lightgray;
    font-family: 'Inter Tight', sans-serif;
}

.nav-links {
    color: red;
    list-style: none;
}

.nav-links a {
    color: black;
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.page-top {
    display: flex;
}